<div class="container">
<nav class="navbar navbar-expand-sm bg-dark ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice/test1" routerLinkActive="active">Built In Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice/test2">Function & Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice/test3">GetData using api</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice/form">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice/table">Table</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>